/Haiyan/.idea/
/Haiyan/Haiyan/bin/Debug/net6.0
/Haiyan/.vs
/Haiyan/Haiyan/obj
/Haiyan/Haiyan.ConsoleApp/bin/Debug
/Haiyan/Haiyan.ConsoleApp/obj
/Haiyan/Haiyan.DataCollection/bin/Debug/net6.0
/Haiyan/Haiyan.DataCollection/obj
/Haiyan/Haiyan.Desktop.Wpf/bin/Debug/net6.0-windows
/Haiyan/Haiyan.Desktop.Wpf/obj
